flake8==6.0.0

# Plugins

Flake8-pyproject                 # use the pyproject.toml as the config file
flake8-bandit                    # runs bandit
flake8-black                     # runs black
# flake8-broken-line               # forbey "\" linebreaks
flake8-builtins                  # builtin shadowing checks
flake8-coding                    # coding magic-comment detection
flake8-comprehensions            # comprehension checks
flake8-deprecated                  # deprecated call checks
flake8-docstrings                # pydocstyle support
flake8-executable                # shebangs
flake8-fixme                     # "fix me" counter
flake8-functions                 # function linting
flake8-html                      # html output
flake8-if-statements             # condition linting
flake8-isort                     # runs isort
flake8-mutable                   # mutable default argument detection
flake8-pep3101                   # new-style format strings only
flake8-print                     # complain about print statements in code
flake8-printf-formatting         # forbey printf-style python2 string formatting
flake8-pytest-style              # pytest checks
flake8-raise                     # exception raising linting
flake8-use-fstring                 # format string checking
