aiohttp             # http client
aiohttp[speedups]   # speedups for aiohttp
aiosqlite           # database
hikari              # discord framework
hikari-lightbulb    # command handler
hikari-miru         # modals and buttons
hikari[speedups]
loguru
pydantic

uvloop; os_name != 'nt'  # Faster drop-in replacement for asyncio event loop
