hf_transfer
huggingface_hub
loguru
lorem
nvidia-ml-py
psutil
pydantic
requests
sentencepiece
sseclient-py
git+https://github.com/huggingface/transformers@60d51ef5123d949fd8c59cd4d3254e711541d278#egg=transformers
websocket-client
