aiohttp
hf_transfer
huggingface_hub
langchain==0.0.142
loguru
lorem
nvidia-ml-py
psutil
pydantic
requests
sentencepiece
sseclient-py
text-generation
git+https://github.com/huggingface/transformers@main#egg=transformers
websocket-client
