bitsandbytes==0.36.0.post2
datasets==2.8.0
deepspeed==0.7.7
evaluate==0.4.0
fastlangid==1.0.11
flash_attn==0.2.8
gdown==4.7.1
ipython==8.11.0
model_training==1.0.0
numpy==1.24.2
pytest==7.2.2
PyYAML==6.0
scikit_learn==1.2.2
sentencepiece==0.1.97
tokenizers==0.13.2
torch==1.13.1
tqdm==4.65.0
transformers==4.26.1
trlx==0.3.0
