aiohttp
alembic
asyncpg
authlib
beautifulsoup4 # web_retriever plugin
cryptography==39.0.0
fastapi-limiter
fastapi[all]==0.88.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
loguru
nvidia-ml-py
prometheus-fastapi-instrumentator
psutil
pydantic
pynvml
PyPDF2 # web_retriever plugin
python-jose[cryptography]==3.3.0
pyyaml # web_retriever plugin
redis
sqlmodel
sse-starlette
uuid7==0.1.0
uvicorn[standard]
websockets
